<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Administration{% endblock %}</title>

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ asset('assets/css/icons/icomoon/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/core.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/components.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/colors.css') }}">
    {% endblock %}
</head>
<body class="navbar-top">
{% block body %}
<!-- Main navbar -->
<div class="navbar navbar-default navbar-fixed-top header-highlight">
    <div class="navbar-header bg-brown-800">
        <!-- TODO change logo -->
        <a class="navbar-brand" href="{{ path('index_page') }}"><img src="{{ asset('assets/images/logo_light.png') }}" alt=""></a>

        <!-- mobile navbar collapse logo -->
        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <!-- navbar mobile -->
    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>

        <!-- profile menu -->
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{ asset('assets/images/image.png') }}" alt="">
                    <span>Victoria</span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <!-- TODO implement links -->
                    <li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
                    <li><a href="#"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-switch2"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        <div class="sidebar sidebar-main bg-brown-800">
            <div class="sidebar-content">

                <!-- User menu -->
                <div class="sidebar-user bg-brown-600">
                    <div class="category-content">
                        <div class="media">
                            <!-- TODO implement img -->
                            <div class="media-left"><img src="{{ asset('assets/images/image.png') }}" class="img-circle img-sm" alt=""></div>
                            <div class="media-body">
                                <span class="media-heading text-semibold">Victoria Baker</span>
                                <div class="text-size-mini text-muted">
                                    <i class="icon-vcard text-size-small"></i> &nbsp;Administrator
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- user menu -->

                <!-- Main navigation -->
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">

                            <!-- Main -->
                            <li><a href="{{ path('index_page') }}"><i class="icon-home4" title="Index"></i> <span>Dashboard</span></a></li>

                            <li class="navigation-header"><span>Content Management</span> <i class="icon-menu"></i></li>
                            <!-- TODO links -->
                            <li><a href="{{ path('index_user_page') }}"><i class="icon-users" title="User Management"></i> <span>User Management</span></a></li>
                            <li><a href="#"><i class="icon-camera" title="Museum Management"></i> <span>Museum Management</span></a></li>
                            <li><a href="#"><i class="icon-bell2" title="Exposition Management"></i> <span>Exposition Management</span></a></li>
                            <li><a href="#"><i class="icon-cart5" title="Advertisement Management"></i> <span>Advertisement Management</span></a></li>
                            <!-- /main -->

                        </ul>
                    </div>
                </div>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /main sidebar -->

        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/js/core/libraries/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/core/libraries/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/plugins/loaders/pace.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/plugins/loaders/blockui.min.js') }}"></script>

            <script type="text/javascript" src="{{ asset('assets/js/core/app.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/pages/dashboard.js') }}"></script>
        {% endblock %}
</body>
</html>
