{% trans_default_domain 'FOSUserBundle' %}

<div class="container-fluid">
    {{ form_start(form, {'attr': {'class': 'form-horizontal' }}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.firstname, "Firstname", {'label_attr': {'class': 'control-label col-lg-2'}}) }}
        {{ form_errors(form.firstname) }}
        <div class="col-lg-10">
            {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.lastname, "Lastname", {'label_attr': {'class': 'control-label col-lg-2'}}) }}
        {{ form_errors(form.lastname) }}
        <div class="col-lg-10">
            {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.username, "Username", {'label_attr': {'class': 'control-label col-lg-2'}}) }}
        {{ form_errors(form.username) }}
        <div class="col-lg-10">
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.email, "Email", {'label_attr': {'class': 'control-label col-lg-2'}}) }}
        {{ form_errors(form.email) }}
        <div class="col-lg-10">
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    {{ form_row(form.image) }}
    <div class="container">
        <div class="row">
            {{ form_widget(form.save, {'attr': {'class': 'btn bg-teal-300'}}) }}
            <a class="btn btn-default" href="{{ path('index_user_page') }}">Back</a>
        </div>
    </div>

{{ form_rest(form) }}
{{ form_end(form) }}
